# For the ./server folder (backend)
# Server Configuration
PORT=3600
CLIENT_URL=http://localhost:5173
NODE_ENV=develop

# MongoDB Configuration
MONGO_URL=your_mongodb_connection_string

# Authentication Secrets
JWT_SECRET=a_very_strong_random_jwt_secret_string
SESSION_SECRET=a_very_strong_random_session_secret_string

# Google OAuth Credentials (Get from Google Cloud Console)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3600/api/users/auth/google/callback

# GitHub OAuth Credentials (Get from GitHub Developer Settings)
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3600/api/users/auth/github/callback

# Gemini AI (Get from Google AI Studio)
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-3-flash-preview
VOICE_KEY=your_voice_api_key
VOICE_MODEL=gemini-2.5-flash-preview-tts

# ImageKit (For Avatar Uploads - Get from ImageKit.io)
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key

# Email/SMTP Settings (For sending notifications/password resets)
AUTH_EMAIL=your_smtp_user_email
PASS_AUTH_EMAIL=your_smtp_password_or_app_password

#GROQ AI 
GROQ_API_KEY=your_groq_api_key

# For the ./client folder (frontend)
VITE_BASE_URL='http://localhost:3600'