ONGO_URL='mongodb+srv://sondb:Son2004@cluster0.sx9d3nd.mongodb.net'
JWT_SECRET='Anything'
IMAGEKIT_PRIVATE_KEY="private_XSvL7Kzq2gdSFG40X6sHKcWonSY="
GEMINI_API_KEY='AIzaSyBRBZUsi7TrJITeZfAc-qE7NQcKMgtcgvo'
VOICE_KEY='AIzaSyAM6o9VA8g85GsekWLslqF4mWUO_lpUZz8'
GEMINI_MODEL='gemini-3-flash-preview'
VOICE_MODEL='gemini-2.5-flash-preview-tts'
PORT='3600'
GOOGLE_CLIENT_ID='433599078837-q1k8kmf8e2boqtp9aqh0eifaen64i1l4.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'
SESSION_SECRET='Hanululaphang'
GOOGLE_CALLBACK_URL='http://localhost:3600/api/users/auth/google/callback'
CLIENT_URL='http://localhost:5173'
AUTH_EMAIL='dangson2376@gmail.com'
PASS_AUTH_EMAIL='oyjp xumo thrr oydu'
GITHUB_CLIENT_ID='Ov23liuM5KP0q3sYICbg'
GITHUB_CLIENT_SECRET='e4e8b5dd15c174c2c044358ba4406b3252aea475'
GITHUB_CALLBACK_URL='http://localhost:3600/api/users/auth/github/callback'
NODE_ENV='develop'  